$background-color: #61b2d8;
$background-gradient: linear-gradient(135deg, rgba(97, 178, 216, 0.3) 0%, rgba(249, 164, 242, 0.3) 100%);
$primary-color: #2974ff;
$text-color: #161d2a;
$text-gray: #50575f;
